@charset "utf-8";

/* Seção devs (body) da pagina Sobre */

body {
    background-color: #ececec;
}

main{
    width: 100%;
    max-width: 85%;    
    margin: 0 auto;   
    overflow: hidden;     
}

header{
    background-color: #8BBA34 ;
    height: 100px;
    padding: 0.7em;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 0 0 50px 50px;    
    justify-content: space-between;
}

nav{
    display: flex;
    flex-flow: row nowrap;    
    align-items: center; 
    justify-content: space-between;   
    width: 100%;
    position: fixed;
    overflow: hidden;
}

#menu-logo{
    display: flex;
    flex-flow: row nowrap;    
    align-items: center;  
    width: 25%;
}

#menu-central{
    margin-bottom: 0;
    padding-bottom: 0;   
    display: flex;
    flex-flow: column nowrap;    
    align-items: center; 
    justify-content: flex-end; 
    justify-self: center;
    width: 50%;
}
#form-menu, #form-menu > input {
    width: 80%;
}

#ul-menu{    
    width: 40%;
    display: flex;
    flex-flow: row nowrap;  
    justify-content: space-around;     
    align-items: flex-end;
}



.devs > h1 {
    text-align: center;
    font-size: 50pt;
}

.devs {
    width: 100%;
    margin: 0 auto;   
}

.devs > p {
    margin-top: 25px;
}

.carousel-item > img {
    height: 400px;
}
#cards{
    display: flex;
    flex-flow: row nowrap;  
    justify-content: space-around; 
    width: 100%;
}
.card-body {
    width: 25rem;
    margin: 3% 0 0  10% ;
    float: left; 

}
.card-title{
    text-align: center;
}

/* estilização do Contato */

.contato {
    display: flex;
    justify-content: space-around;
}

.contato > div {
    margin: 40px 0;
}

.contato > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contato > div:nth-of-type(1) > ul > li:nth-of-type(5) {
    background-image: url('../img/facebook.svg');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 95%;
}

.contato > div:nth-of-type(1) > ul > li:nth-of-type(4) {
    background-image: url('../img/instagram.svg');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 95%;
}

.contato > div:nth-of-type(1) > ul > li:nth-of-type(3) {
    background-image: url('../img/wapp.svg');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 95%;
}

.contato > div:nth-of-type(1) > ul > li:nth-of-type(2) {
    background-image: url('../img/telefone.svg');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 95%;
}

.contato > div:nth-of-type(1) > ul > li:nth-of-type(1) {
    background-image: url('../img/email.svg');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 95%;
}

.contato > div {
    width: 30%;
}

.contato > div > ul > iframe {
    width: 100%;
}

/* @media only screen and (max-width: 1024px){
    .card-body {
        width: 25rem;
        float: left; 
    }
    .card-title{
        text-align: center;
    }
}

@media only screen and (max-width: 1440px){
    .card-body {
        padding: 0;
        width: 25%;
        margin: 2%; 
        float: left;
    }
    img{
        width: 100%;
    }
    .card-title{
        text-align: center;
    }
}
@media only screen and (max-width: 425px){
    
    .card-body {
        width: 100%;
        float: left; 
    }
    .card-title{
        text-align: center;
    }
} */
